doctype html
html
    head(lang="en")
        meta(charset="UTF-8")
        title 500_ERROR
    body
        div(style="margin:0 auto;text-align:center;padding-top:50px;")
            img(src="/images/a.pgn")
        div(style="margin:0 auto;text-align:left;max-width:600px;")
            p
                h1(style="font-weight:normal;") 系统处理异常 (500)
            p 系统处理过程出现异常,为了更好地给您提供服务,请把操作记下并反馈到这个邮箱huangqian@efun.com