doctype html
html
	head 
		title websocket
		link(href='css/index.css')
		script(src='http://127.0.0.1:3000/js/client.socket.js')
	body
		h1= title
		p Welcome to #{title}
		button(onclick='a()') 按钮一
		ul#ultext
		script(src='../js/index.js')
