doctype html
html
	head 
		title websocket
		link(href='css/index.css')
		script(src='http://cdn.staticfile.org/socket.io/1.3.7/socket.io.js')
	body
		h1= title
		p Welcome to #{title}
		button(onclick='a()') 按钮一
		ul#ultext
		script(src='../js/index.js')
